#!/bin/bash
# -----------------------------------------------------------------------------
# Configuration for Slurm scripts
#
# INSTRUCTIONS:
#     Edit the values below to match your cluster's setup.
#     Add other variables as needed.
# -----------------------------------------------------------------------------

# The public-facing address of your cluster's login node.
# This is the address you use to SSH into the cluster from your local machine.
# If you use a nickname in your local SSH config, you can put there here instead.
PUBLIC_LOGIN="${USER}@your-cluster.edu"


# -----------------------------------------------------------------------------
# Account Configuration
# -----------------------------------------------------------------------------
# Your primary Slurm account name. Used for all jobs by default.
ACCOUNT=$(id -gn)

# -----------------------------------------------------------------------------
# Cache/Logging Configuration
# -----------------------------------------------------------------------------
# Location for marimo/Jupyter Notebook log files
NOTEBOOK_LOGS="${HOME}/logs"

# Caches
export HF_HUB_CACHE=""
export OLLAMA_MODELS=""


# -----------------------------------------------------------------------------
# Partition Configuration
# Examples shown below
# -----------------------------------------------------------------------------
# 1. CPU Profile (Default)
CPU_PARTITION="--partition=cpu --account=${ACCOUNT}"

# 2. Standard GPU Profile
GPU_PARTITION="--partition=gpu --account=${ACCOUNT}"

# Helper Function: Partition Dictionary
get_partition_options() {
    local key="$1"
    case "$key" in
        "cpu")
            echo "${CPU_PARTITION}"
            ;;
        "gpu")
            echo "${GPU_PARTITION}"
            ;;
        *)
            # Return error status if key is not found
            return 1
            ;;
    esac
}
